include LICENSE
include requirements.txt
include README.md
recursive-include src/AnaSimba *.py
recursive-include src/AnaSimba/simba_python *.py
recursive-include src/AnaSimba/pytreegrav *.py
include src/AnaSimba/pytreegrav/LICENSE
include examples *.ipynb
